@import "custom-variables";
@import "menu-builder";

//// WRST LOGIN ////

.project-name {
  font-size: 30px;
  font-weight: bold;
  color: white;
  margin-left: 20px;
}

.top-bar-logo {
  margin-left: 20px;
}

.space-between {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.region-topbar .mx-navbar ul.nav>li.mx-navbar-item>a {
  color: #f1f1f1;
  font-size: 14px;
}
.login-page {

  .logo {
    width: 260px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 60px;
  }

  .login-container {
    margin-top: 60px;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;

    .project-name {
      color: white;
      font-size: x-large;
    }

    .project-description {
      color: gray;
    }

    .input-box {
      width: 100%;
    }

    .login-button {
      display: block;
      width: 100%;
      background: #c64297;
      color: white;
      border: none;
    }
  }

  .footer {
    color: #888888;
    position: fixed;
    bottom: 20px;
    left: 20px;
  }
}


.wrst-background {
  background-image: url('/img/WrstLogin$IMG_Icons$core_background.png');
  background-size: cover;
}
.listview-stylingless  li.mx-listview-empty {
  display: none
}

// extra
.poscompleteorderbutton, .poscompleteorderbutton:focus, .poscompleteorderbutton:hover {
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 6px 20px 0px;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 15px;
    width: 100%;
    font-size: 25px;
    background: darkorange;
    color: white;
	border: none;
}

.region-topbar .mx-navbar ul.nav>li.mx-navbar-item>a {
    color: #f1f1f1;
    font-size: 14px;
}

.poscompleteorderbutton:active {
    background: yellow;
    color: black;
	border: none;
}

.listtabs > ul {
	display: flex;
}



.location-button {
  padding: 25px 15px;
  margin: 25px;
  border: #ff9100 1px solid;
  border-radius: 14px;
  background-color: #262626;
  &:hover {
    background-color: #ff9100;
  }
}

.listtipbuttons > ul {
	display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.listtipbuttons > ul > li {
	flex-grow: 1;
}

.pospopup .modal-header {
	user-select: none;
    text-align: center;
    background: darkorange !important;
    color: white;
}

.postipbutton {
	background: darkorange;
    margin: 5px;
    text-align: center;
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 6px 20px 0px;
    padding: 10px;
    border-radius: 14px;
    margin-bottom: 15px;
    font-size: 25px;
    color: white;
    border: none;
}

.pospopup .modal-header h4 {
	color: white !important;
    font-size: 23px !important;
}

.pospopup .modal-content {
	border-radius: 20px;
    border: none;
}

.pospopup .modal-body {
	background: whitesmoke;
}

.pospopup .close {
/*	font-size: xx-large;   REMOVING BECAUSE WE SHOULD HIDE THIS BUTTON
    color: white !important;*/
    display: none;
}

.productpagetab {
	background: #ffc57e;
    color: white;
    padding: 12px 23px 12px 23px;
    font-size: 20px;
    border-radius: 18px;
    margin-right: 10px;
    font-weight: 600;
}

.productpagetab.productpagetab-selected{
	background: darkorange;
}

.pinpad-maskeddisplay > .form-control {
	font-size: xx-large;
	text-align: center;
}

.numberpad {
	text-align: center;
    max-width: 300px;
    margin-right: auto;
    margin-left: auto;
}

.numberpad-number, .numberpad-number:hover {
	background: orange;
    font-weight: bold;
    color: white;
    border-radius: 50%;
    border: none;
    font-size: 45px;
    padding: 0px;
    width: 75px;
    height: 75px;
}

.numberpad-number:active, .numberpad-number:focus {
	background: yellow;
    border: 2px solid red;
    color: black;
}

.spinnerbutton {
	font-size: large !important;
    background: lightgray !important;
    color: black !important;
    border-radius: 13px !important;
}

.pos-accountcontainer{
	background: white;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 4px 0px, rgba(0, 0, 0, 0.1) 0px 6px 20px 0px;
    padding: 10px;
    border-radius: 14px;
    position: fixed;
    bottom: 18px;
    width: 63.6%;
    left: 22px;
    height: 75px;
}

.pos-cashlesscreditapplybutton {
	color: white;
    background: darkorange;
    border-radius: 20px;
    padding: 12px 20px 12px 20px;
    font-size: larger;
}


/*DEFAULY CLASSES FOR BUTTON PRODUCT GRID*/

.menu-page-edit-grid {
  .selected .pos-button {
    background-color: #f3f3f3;
  }
}


.pos-button {
	border-radius: 10px;
    border: lightgray 1px solid;
    height: 110px;
    padding: 10px;
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.pos-button-sold-out {
	border-radius: 10px;
    border: gray 1px solid;
    background-color: lightgrey;
    height: 110px;
    padding: 10px;
    margin: 6px;
    display: flex;
    flex-direction: column;
}

.pos-button-icon {
	width: 42px;
    float: right;
    position: absolute;
    bottom: -90px;
    border-radius: 7px;
    right: 0px;
}

.pos-button .pos-gridbutton-label, .pos-button-sold-out .pos-gridbutton-label {
	font-size: 20px;
	font-weight: bold;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pos-gridbutton-secondarylabel {
	font-size: 13px;
	color: darkgrey;
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.pos-gridbutton-price {
    position: absolute;
    bottom: 8px;
    color: darkorange;
    font-weight: 600;
    font-size: 20px;
}


/*CLASSES TO COLOR THE BUTTONS ON THE PRODUCT GRID ON THE POS*/
.pos_gridbutton_color_green {
	background: #ccffcc;
	border: #5acc77 1px solid;
}

.pos_gridbutton_color_red {
	background: #fdd8d8;
	border: #ff9090 1px solid;
}

.pos_gridbutton_color_yellow {
	background: #ffffb9;
    border: #c5c500 1px solid;
}

.pos_gridbutton_color_blue {
	background: #d4ebff;
    border: blue 1px solid;
}

.pos_gridbutton_color_red .pos-gridbutton-secondarylabel {
	color: white;
}

.pos_gridbutton_color_orange {
	background: #ffcc6f;
    border: orange 1px solid;
}

.pos_gridbutton_color_orange .pos-gridbutton-secondarylabel {
	color: white;
}

.pos_gridbutton_color_orange .pos-gridbutton-price {
	color: white;
}

.ordermodificationlist.mx-listview > ul > li.mx-listview-empty {
  display: none
}


.paymentloader {
 	font-size: 11px;
    margin: 70px auto;
    text-indent: -9999em;
    width: 13em;
    height: 13em;
    border-radius: 50%;
    background: #ff8c01;
    background: -moz-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -webkit-linear-gradient(left, #ff8c01 10%, rgba(255, 255, 255, 0) 42%);
    background: -o-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: -ms-linear-gradient(left, #ffffff 10%, rgba(255, 255, 255, 0) 42%);
    background: linear-gradient(to right, #ff8c01 10%, rgba(255, 255, 255, 0) 42%);
    position: relative;
    -webkit-animation: load3 1.4s infinite linear;
    animation: load3 1.4s infinite linear;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
}
.paymentloader:before {
    width: 50%;
    height: 50%;
    background: #ff8c01;
    border-radius: 100% 0 0 0;
    position: absolute;
    top: 0;
    left: 0;
    content: '';
}
.paymentloader:after {
  background: #f5f5f5;
    width: 75%;
    height: 75%;
    border-radius: 50%;
    content: '';
    margin: auto;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
}
@-webkit-keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load3 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.backgroundloader,
.backgroundloader:before,
.backgroundloader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.backgroundloader {
  color: #ff8c00;
    font-size: 5px;
    margin: 2px auto;
    position: relative;
    text-indent: -9999em;
    -webkit-transform: translateZ(0);
    -ms-transform: translateZ(0);
    transform: translateZ(0);
    -webkit-animation-delay: -0.16s;
    animation-delay: -0.16s;
}
.backgroundloader:before,
.backgroundloader:after {
  content: '';
  position: absolute;
  top: 0;
}
.backgroundloader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.backgroundloader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
